<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>
        <%= inquiry.name %>, Thank you very much for contacting Me
    </h1>
    <p>
        I will definately get back to you asap!
    </p>
</body>

</html>