<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inquiry</title>
    <link rel="stylesheet" href="portfolioserver.up.railway.app/public/css/style.css">
</head>

<body>
    <div class="container">

        <h1>Sahil</h1>
        <div class="banner">
            <img src="portfolioserver.up.railway.app/images/public/correct.svg" alt="" srcset="">
            <div>

                <h2>Thank you!</h2>
                <h3>For your interest in working with me</h3>
            </div>
        </div>
        <div class="email-content">

            <p>Hey <%= inquiry.name %>,</p>
            <p>Thank you for your interest in working with me. I'm here to assist you with your tasks and projects.</p>
            <p>I'll get back to you as soon as possible.</p>
            <p>Best regards,<br>Sahil</p>
        </div>
        <div class="border"></div>

        <div class="social-container">
            <h2>Follow Me On</h2>
            <div class="icon">
                <a href="https://www.linkedin.com/in/xahilshaikh/" target="_blank">
                    <img src="portfolioserver.up.railway.app/public/linkedin.png" alt="linkedin">
                </a>
                <a href="https://www.instagram.com/imxahil/" target="_blank">
                    <img src="portfolioserver.up.railway.app/public/instagram.png" alt="instagram">
                </a>
            </div>
            <p>www.ixahil.dev</p>
        </div>

    </div>

</body>

</html>