/* Add your CSS styles here */
@font-face {
  font-family: Agustina;
  src: url("/public/Agustina.woff");
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
}

.container {
  display: grid;
  max-width: 600px;
  border: 2px solid black;
  margin: auto;
  grid-gap: 2rem;
  padding: 2rem 0;
}

h1 {
  text-align: center;
  font-family: Agustina;
  height: 4rem;
  padding: 2rem 0;
}

.banner {
  display: grid;
  align-items: center;
  grid-gap: 1rem;
  background-image: linear-gradient(to right, #000c2c, #2b0e30);
  text-align: center;
  color: white;
  padding: 2rem 0;
}

.email-content {
  padding: 0 2rem;
}

.social-container {
  display: grid;
  align-items: center;
  text-align: center;
  grid-gap: 1rem;
}

.icon {
  display: grid;
  grid-gap: 1rem;
}
