@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header nav ul a {
  position: relative;
}

@keyframes slide-up {
  0%,
  20%,
  100% {
    opacity: 0;
    transform: translateY(100%);
  }

  30%,
  50% {
    opacity: 1;
    transform: translateY(0);
  }

  60%,
  80% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
.__title_head {
  font-size: 2.75em;
}

.__title_sub_section {
  font-size: 1em;
  color: #fcf6f5;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: inline-block;
  height: 1.25em;
  vertical-align: bottom;
  overflow: hidden;
}

.__title_sub {
  color: #fcf6f5;
  padding-top: 5px;
  position: absolute;
  width: 100%;
  line-height: 1.2em;
  opacity: 0;
  transform: translateY(100%);
  animation: slide-up 9s linear infinite 0s;
  &:nth-child(2) {
    animation-delay: 3s;
  }

  &:nth-child(3) {
    animation-delay: 6s;
  }
}

.ql-container {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: #fefcfc;
}
.ql-snow.ql-toolbar {
  display: block;
  background: #eaecec;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.ql-bubble .ql-editor {
  border: 1px solid #ccc;
  border-radius: 0.5em;
}

.ql-editor {
  max-height: 18rem;
  min-height: 18rem;
}

.dark .ql-editor {
  background-color: #3b3b3b;
}

a:link {
  text-decoration: none;
}

#tab-description ol {
  padding: 15px 0 0 30px;
}

#tab-description ol li {
  list-style: upper-roman;
  padding: 5px 0 0 0;
}

#tab-description ul li {
  list-style: none;
  padding: 5px 0 0 0;
}

#tab-description ul {
  padding: 15px 0 0 30px;
}

#tab-description p {
  padding: 15px 0 0 0;
}

#tab-description ul li::before {
  content: "✔"; /* Use any Unicode character or custom content here */
  display: inline-block;
  width: 16px; /* Adjust the size of the circle */
  height: 16px; /* Adjust the size of the circle */
  border-radius: 50%;
  background-color: black; /* Color of the filled circle */
  color: white; /* Color of the checkmark */
  text-align: center;
  line-height: 16px; /* Center the checkmark vertically */
  margin-right: 10px; /* Adjust spacing between the circle and li text */
}

.bg-gradient {
  background: linear-gradient(110deg, #0a64bc 50%, #0c1618 50%);
}

.bg-gradient-header {
  background: linear-gradient(110deg, #0a64bc 57.5%, #0c1618 50%);
}

#landinaPage {
  background: #dfdfdf;
}

@media screen and (max-width: 767px) {
  .bg-gradient {
    background: linear-gradient(180deg, #0a64bc 70%, #0c1618 50%);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .bg-gradient {
    background: linear-gradient(110deg, #0a64bc 50%, #0c1618 50%);
  }
}
